<p>
  <b>Name:</b>
  <%=h @interest.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @interest.description %>
</p>


<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>