<!DOCTYPE html>
<html>
<head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<b> Message from : </b><%=h @name %><br \>
<b> <%= h @subject %> </b><br \>  
<b> Content :</b> <br \>
<%= h @content %><br \>
<b>Sent :</b> <%= h @time %>
</body>
</html>
